@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        
        <link rel="stylesheet" href="@routes.Assets.at("vendor/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content
        
        <script src="@routes.Assets.at("vendor/jQuery/jquery-1.11.0.min.js")"></script>
        <script src="@routes.Assets.at("vendor/jQuery/jquery.price_format.2.0.min.js")"></script>
        <script src="@routes.Assets.at("vendor/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("vendor/react/react.js")"></script>
        <script src="@routes.Assets.at("vendor/react/JSXTransformer.js")"></script>
        @scripts
    </body>
</html>
